.about-container {
  background-color: hsla(0, 0%, 0%, 0);
  padding: 50px;
  border-radius: 10px;
  background-size: 0% 100%;
  animation: background-reveal linear forwards;
  animation-timeline: view();
  animation-range-start: 15vh;
  animation-range-end: 30vh;
}
