input[type="text"],
input[type="mail"],
textarea {
  min-width: 100%;
  min-height: 8vh;
  color: black;
  outline: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: hsla(0, 0%, 39%, 0.13);
}

form > div {
  min-width: 25vw;
}

button {
  border-radius: 10px;
  padding: 10px 20px !important;
  outline: 1px solid black;
  transition-duration: 250ms;
  &:hover {
    color: white;
    background-color: #2d9596;
    box-shadow: 0 0 50px #2d9596;
  }
}

@media screen and (orientation: portrait) {
  input[type="text"],
  input[type="mail"],
  textarea {
    width: 100%;
  }
}

.contacts > a > img {
  transition-duration: 500ms;
  &:hover {
    transform: translateY(-10px);
    filter: saturate(1) contrast(1);
  }
}

.contacts > a {
  transform: translateX(-50px);
  animation: slideIn linear forwards;
  animation-timeline: view();
  animation-range-start: 0vh;
  animation-range-end: 10vh;
}
