@keyframes slidingIn {
	from {
		transform: translateX(-250px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.hero {
	gap: 40px;
}

.hero h1:nth-child(1) {
	opacity: 0.5;
	animation: slidingIn 500ms linear forwards;
}

.hero h1:nth-child(2) {
	opacity: 0.25;
	animation: slidingIn 750ms linear 50ms forwards;
}

.hero h1:nth-child(3) {
	opacity: 0;
	animation: slidingIn 950ms linear 100ms forwards;
}

@media screen and (orientation: portrait) {
	.hero {
		gap: 20px;
		@apply text-center;
	}

	.hero h1 {
		font-size: 50px !important;
	}

	.hero-container {
		@apply h-screen;
		padding: 50px;
		flex-direction: column !important;
	}
	.hero-container div:nth-child(1) {
		order: 1;
	}
	.hero-container div:nth-child(2) img {
		width: 250px !important;
	}
}
