.projectFrame {
	border-radius: 20px;
}

.projectFrame > div {
	width: 40vw;
	width: 40dvw;
	display: flex;
	gap: 100px;
	align-items: center;
	padding: 10px;
}
.projectFrame:nth-child(2) > div > p {
	order: 1;
}

.projectFrame > div > img {
	filter: saturate(1);
	min-width: 25%;
}

.projectFrame > h3 {
	transform: translateX(-1000px);
	animation: slideIn forwards linear;
	animation-timeline: view();
	animation-range-start: contain 5vh;
	animation-range-end: contain 30vh;
}

@media screen and (orientation: portrait) {
	.projectFrame > div > img {
		width: calc(50% + 10vw);
		width: calc(50% + 10dvw);
	}
	.projectFrame > div > p {
		order: 1;
	}
}

@media screen and (max-width: 1300px) {
	.projectFrame > div {
		@apply flex flex-col w-auto;
		gap: 10px;
		padding: 10px;
	}
}

@media screen and (min-width: 1300px) {
	.projectFrame > div {
		@apply w-auto flex;
		gap: 50px;
		padding: 10px;
	}
}
