.logo {
	height: 50px;
	filter: saturate(1) contrast(1);
}

img {
	min-width: 30%;
	user-select: none;
	transition-duration: 250ms;
	filter: saturate(0) contrast(0.5);
	animation: colorThis forwards linear;
	animation-timeline: view();
	animation-range-start: cover 20vh;
	animation-range-end: cover 40vh;
}

.frameBox {
	width: calc(50% + 4vw);
	width: calc(50% + 4dvw);
	@apply flex flex-col items-center justify-center text-center;
	padding: 10px;
	border-radius: 20px;
	outline: 2px dashed gray;
	animation: fadeIn forwards linear;
	animation-timeline: view();
	animation-range-start: cover 1vh;
	animation-range-end: cover 60vh;
	opacity: 0;
}

.frameBox:nth-child(odd) {
	margin-right: auto;
}

.frameBox:nth-child(even) {
	margin-left: auto;
}

.OsContainer {
	@apply flex items-center justify-between;
	padding: 20px;
	gap: 10px;
	outline: 2px dotted gray;
	animation: slideUp forwards linear;
	animation-timeline: view();
	animation-range-start: cover 20vh;
	animation-range-end: cover 50vh;
}

.OsContainer:nth-child(1) {
	transform: translateY(500px);
}

.OsContainer:nth-child(2) {
	transform: translateY(500px);
}

.title {
	font-size: calc(50% + 2vh);
	font-size: calc(50% + 2dvh);
}
