.slideIn {
	animation: slideIn 0.2s linear;
}

.slideIn-1 {
	animation: slideIn 0.4s linear;
}

.slideIn-2 {
	animation: slideIn 0.8s linear;
}

.slideIn-3 {
	animation: slideIn 1s linear;
}

@keyframes slideIn {
	from {
		transform: translateX(-200px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
