@import "tailwindcss";

* {
	scroll-behavior: smooth;
}

:root {
	/* --background: #ffffff; */
	/* --foreground: #171717; */
	@apply bg-gray-200 text-black;
}

@media (prefers-color-scheme: dark) {
	:root {
		@apply bg-gray-900 text-gray-200;
		/* --background: #0a0a0a; */
		/* --foreground: #ededed; */
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

h1,
h2,
h3 {
	@apply select-none;
}

h2 {
	@apply text-4xl text-center;
}

/* Animated letters */
.heading {
	white-space: pre;
	cursor: pointer;
	display: inline-block;
	transition: transform 0.3s ease, color 0.3s ease;
}

.heading:hover {
	color: blueviolet;
	transform: translateY(-8px) rotate(5deg) scale(1.2);
}

/* Form elements */
input,
textarea {
	border-radius: 10px;
	font-size: 18px;
	border: 1px solid black;
}

input::placeholder,
textarea::placeholder {
	text-align: center;
}
