@import "tailwindcss";

* {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

h1,
h2,
h3 {
	@apply select-none;
}

/* Animated letters */
span {
	padding: 0 2px;
	cursor: pointer;
	display: inline-block;
	transition: transform 0.3s ease, color 0.3s ease;
}

span:hover {
	color: blueviolet;
	transform: translateY(-8px) rotate(5deg) scale(1.2);
}

.no-anim {
	cursor: auto;
	&:hover {
		color: var(--foreground);
		transform: translateY(0) rotate(0) scale(1);
	}
}

/* Form elements */
input,
textarea {
	border-radius: 10px;
	font-size: 18px;
	border: 1px solid black;
}

input::placeholder,
textarea::placeholder {
	text-align: center;
}
