@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	overflow-x: hidden;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	/* --font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: Arial, Helvetica, sans-serif; */
}

h1 {
	font-size: 4em;
}

h1,
h2,
h3 {
	@apply select-none;
}

span {
	cursor: pointer;
	display: inline-block;
	transition: transform 0.3s ease, color 0.3s ease;
}

span:hover {
	transform: translateY(-8px) rotate(5deg) scale(1.2);
	color: #3b82f6; /* Tailwind blue-500 */
}

/* Fonts */
.playwrite-us-trad-200 {
	font-family: "Playwrite US Trad", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.plus-jakarta-sans-100 {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.edu-nsw-act-cursive-200 {
	font-family: "Edu NSW ACT Cursive", cursive;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
