@keyframes rotateIt {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hoverUp-Down {
  0%,
  100% {
    transform: translateY(-10px);
    background-color: #80bcbd;
  }
  50% {
    transform: translateY(10px);
    background-color: transparent;
    opacity: 0;
  }
}

@keyframes background-reveal {
  to {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    filter: blur(50px);
  }
}

@keyframes progressBar {
  to {
    scale: 1 1;
  }
}

@keyframes colorThis {
  to {
    filter: saturate(1) contrast(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
