@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "Animations.css";
@import "main.css";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: hsl(225, 79%, 19%);
    background-color: #f5eee6;
  }
  h1 {
    color: #37b5b6;
  }
  #scroll {
    color: #37b5b6;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #092635;
    color: hsla(142, 69%, 78%, 0.8);
  }
  h1 {
    -webkit-text-stroke: 0.5px #7bd3ea;
    text-shadow: 2px 2px 10px #a1eebd;
  }
}

@font-face {
  font-family: "brushCursive";
  src: url("../assets/fonts/Blackmud.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: rotateIt infinite 20s linear;
  }
  #scroll {
    animation: hoverUp-Down 3s infinite both ease-in-out;
  }
}
